In [5]:
import csv

import pandas as pd

# Define our file name and column name as constants.
FILE_NAME = "PEERING_DB_CONN_DATA_CENT.csv"
COLUMN_NAME = "OBS_VALUE", "REF_AREA_LABEL"

pd.read_csv(FILE_NAME)

,STRUCTURE,STRUCTURE_ID,ACTION,FREQ,FREQ_LABEL,REF_AREA,REF_AREA_LABEL,INDICATOR,INDICATOR_LABEL,SEX,...,UNIT_MULT,UNIT_MULT_LABEL,UNIT_TYPE,UNIT_TYPE_LABEL,TIME_FORMAT,TIME_FORMAT_LABEL,OBS_STATUS,OBS_STATUS_LABEL,OBS_CONF,OBS_CONF_LABEL
0,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,ARE,United Arab Emirates,PEERING_DB_CONN_DATA_CENT,Number of connected data centers (PeeringDB),_T,...,0,Units,COUNT,Count (Integer),602,CCYY,A,Normal value,PU,Public
1,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,ATG,Antigua and Barbuda,PEERING_DB_CONN_DATA_CENT,Number of connected data centers (PeeringDB),_T,...,0,Units,COUNT,Count (Integer),602,CCYY,A,Normal value,PU,Public
2,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,ALB,Albania,PEERING_DB_CONN_DATA_CENT,Number of connected data centers (PeeringDB),_T,...,0,Units,COUNT,Count (Integer),602,CCYY,A,Normal value,PU,Public
3,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,ARM,Armenia,PEERING_DB_CONN_DATA_CENT,Number of connected data centers (PeeringDB),_T,...,0,Units,COUNT,Count (Integer),602,CCYY,A,Normal value,PU,Public
4,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,AGO,Angola,PEERING_DB_CONN_DATA_CENT,Number of connected data centers (PeeringDB),_T,...,0,Units,COUNT,Count (Integer),602,CCYY,A,Normal value,PU,Public
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,TMN,Middle East & North Africa (IDA & IBRD),PEERING_DB_CONN_DATA_CENT,Number of connected data centers (PeeringDB),_T,...,0,Units,COUNT,Count (Integer),602,CCYY,A,Normal value,PU,Public
199,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,TSA,South Asia (IDA & IBRD),PEERING_DB_CONN_DATA_CENT,Number of connected data centers (PeeringDB),_T,...,0,Units,COUNT,Count (Integer),602,CCYY,A,Normal value,PU,Public
200,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,TSS,Sub-Saharan Africa (IDA & IBRD),PEERING_DB_CONN_DATA_CENT,Number of connected data centers (PeeringDB),_T,...,0,Units,COUNT,Count (Integer),602,CCYY,A,Normal value,PU,Public
201,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,UMC,Upper middle income,PEERING_DB_CONN_DATA_CENT,Number of connected data centers (PeeringDB),_T,...,0,Units,COUNT,Count (Integer),602,CCYY,A,Normal value,PU,Public
202,datastructure,WB.DATA360:DS_DATA360(1.2),I,A,Annual,WLD,World,PEERING_DB_CONN_DATA_CENT,Number of connected data centers (PeeringDB),_T,...,0,Units,COUNT,Count (Integer),602,CCYY,A,Normal value,PU,Public

In [ ]:
# Read the data into a pandas DataFrame

collision_df = pd.read_csv(FILE_NAME)

# Select the single column we want to analyze
data_series = collision_df[COLUMN_NAME]

# Compute the statistics
mean_pandas = data_series.mean()
median_pandas = data_series.median()

# .mode() returns a Series, so we take the first item [0]
mode_pandas = data_series.mode()[0]

print(f"Mean:   {mean_pandas:.4f}")
print(f"Median: {median_pandas}")
print(f"Mode:   {mode_pandas}")

NameError: name 'OBS_VALUE' is not defined